@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

@media print {
  .no-print { display: none !important; }
  .print-area { display: block !important; }
  body { background: white !important; }
}
